

body{

	font-size: 2rem;
}

select{
	width: 180px;
    height: 40px;
    font-size: 2rem;
}


p{
	margin: 10px;
}

h3{
	margin: 10px;
	color: red;
}

input{
	font-size: 2rem;
	/*text-align: center;*/
}


.flex-container{

	display: flex;
	flex-direction: row;
	top: 10px;
	position: relative;
}

.flex-container2{

	display: flex;
	flex-direction: row;
}

.class1{
	position: relative;
	
	height: 300px;
	width: 200px;
	border: 2px blue solid;
	/*//border-color: blue;*/
}

.table1{
	position: relative;
	left:10px;
	
/*	border: 1.5px black solid;
	*/
}
.form1{

	border: 2px blue solid;
	position: relative;
	left: 20px;
	
}

.select1{

	position: relative;
	top: 10px;
	height: 300px;
	width: 250px;
	border: 2px blue solid;
}

.calendar{

	position: relative;
	left:10px;
    top: 10px;
    


}

.video{

	border: 2px blue solid;
	position: relative;
	left: 20px;
	top: 10px;
	

}

.canvas{
	border: 2px blue solid;
	position: relative;
	left: 30px;
	top: 10px;
}


